* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comment-box {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

.comment-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name,
.date {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(15, 122, 122);
}

.name:focus,
.date:focus {
  border: 1px solid black;
  outline: 0;
}

.name-error {
  position: absolute;
  color: red;
  font-size: 12px;
  left: 20px;
  top: 50px;
}

.date::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.comment {
  width: 100%;
  height: 100px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(15, 122, 122);
}

.comment:focus {
  border: 1px solid black;
  outline: 0;
}

.comment-error {
  position: absolute;
  color: red;
  font-size: 12px;
  left: 20px;
  top: 240px;
}

.button {
  border: 0;
  padding: 10px 30px;
  background: rgb(15, 122, 122);
  font-size: 18px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: rgb(11, 97, 97);
}

.user-comments {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 15px;
}

.user-comments h2 {
  font-size: 20px;
}

.user-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-wrap: break-word;
  width: 100%;
  min-height: 100px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(15, 122, 122);
}

.user-comment__name {
  font-weight: 700;
}

.user-comment__date {
  font-size: 12px;
  color: grey;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-comment__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.user-comment__iconContainer {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-comment__iconContainer > img {
  width: 100%;
  height: 100%;
}

.like > img {
  filter: contrast(0.7);
}

.liked > img {
  filter: contrast(2.5);
}
